body {
    background-color: #000000;
    color: #ddd;
}

#terminalContent {
    font: 1em Consolas, monaco, monospace;;
}

.container {
    width: 90%;
    max-width: 900px;
    position: fixed;
}

#terminalHeader {
    height: 1.75em;
    background-color: #ddd;
    border-radius: 20px 20px 0 0;
}

#headerName {
    position: absolute;
    border-radius: 10px;
    width: 40%;
    height: 15px;
    margin: 8px 5px 0 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
}

.button {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 8px 5px 0 0;
    display: inline-block;
    vertical-align: middle;
}

.buttonRed {
    margin-left: 20px;
    background-color: #ff6464;
    transition: 0.2s ease-in-out;
} .buttonRed:hover { background-color: #860000;}

.buttonGreen {
    background-color: #64ff64;
    transition: 0.2s ease-in-out;
} .buttonGreen:hover {background-color: #008600;}

.line-part1 {
    color: #4ab83b;
}

.line-part2 {
    color: #41a5e7;
}

.buttonYellow {
    background-color: #ffff64;
    transition: 0.2s ease-in-out;
} .buttonYellow:hover {background-color: #868600;}

#terminalBody {
    padding: 2% 5% 0 2%;
    background-color: #000000;
    height: 55em;
}

#BodyContent {
    float: left;
}

input {
    width: 30%;
    background-color: #000000;
    border-width: 0;
    color: #ddd;
    font: 1em Consolas, monaco, monospace;
    font-weight: 700;
}
input:focus {
    outline: none;
}

a {
    color: #0dd;
    transition: 0.2s ease-in-out;
}
a:hover {
    color: #EF4F4F;
}